{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "import-graphql",
    "transform-class-properties",
    "dynamic-import-node",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
        }
      }
    ]
  ]
}